
    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
				<ul>
					<li>
						<a href="#">
							Psycho-1980.inc
						</a>
					</li>
					<li>
						<a href="#">
						   About Us
						</a>
					</li>
					<li>
						<a href="#">
						   Blog
						</a>
					</li>
					<li>
						<a href="#">
							Licenses
						</a>
					</li>
					<li>
						<a href="#">
  							{% include icon-github.html %}
						</a>
					</li>
					<li>
						<a href="#">
  							{% include icon-twitter.html %}
						</a>
					</li>
				</ul>
            </nav>
            <div class="copyright pull-right">
                &copy; 2016, made with <i class="fa fa-heart heart"></i> by psycho-1980 for a better web.
            </div>
        </div>
    </footer>
