
	<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
		    	<a href="#">
		        	<div class="logo-container">
		                <div class="logo">
		                    <img src="assets/img/logo.png" alt="PSYCHO_1980 Logo" rel="tooltip" title="<b>Material Kit</b> was Designed & Coded with care by the staff from <b>PSYCHO_1980.INC</b>" data-placement="bottom" data-html="true">
		                </div>
		                <div class="brand">
		                    PSYCHO_1980.INC
		                </div>


					</div>
		      	</a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#" class="btn" target="_blank">
							<i class="material-icons">dashboard</i> Home
						</a>
					</li>
					<li>
						<a href="#" target="_blank" class="btn">
							<i class="material-icons">cloud_download</i> blog
						</a>
					</li>
					<li>
						<a rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/Suwito_Saputro" target="_blank" class="btn btn-simple">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/" target="_blank" class="btn btn-simple">
							<i class="fa fa-facebook-square"></i>
						</a>
					</li>
					<li>
						<a rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/" target="_blank" class="btn btn-simple">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
        		</ul>
        	</div>
    	</div>
    </nav>